.header-background {
  height:50px
}

.header-container {
  height: 100%;
  background-color: #333;

  .header-logo {
    position: relative;
    top: 20px;
    padding: 0;
    height: 1px;

    .headerTitle {
      background-color: #04AA6D;
      font-size: 1em;
      font-weight: 600;
      margin-right: 0;
      width: 100%;

      #logo {
        width: 20px;
        height: 20px;
        font-size: 1.5em;
        color: rgb(32, 32, 213);
        margin-right: 6px;
        font-weight: 600;
      }
  
      a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      
        &:hover {
          cursor: pointer;
        }
      
        // &:hover:not(.active) {
        //   background-color: #111;
        // }
      }
    }
  }
  
  .userForm {
    display: flex;
    justify-content: flex-end;

    a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    
      &:hover {
        cursor: pointer;
        background-color: #04AA6D;
      }
    
      // &:hover:not(.active) {
      //   background-color: #111;
      // }
    }
  }
}
